<section class="about" id="about-scroll">
    <div class="container about-container">
        <p class="about-pre-title">tradition and love</p>
        <h2 class="about-title">how it's made?</h2>
        <div class="about-wrap">
            <picture class="about-picture">
                    <source media="(max-width:767px)" srcset="../src/images/about/cow-tel@1x.png 1x,
                    ../src/images/about/cow-tel@2x.png 2x">
                    <source media="(min-width:1280px)" srcset="../src/images/about/cow-desc@1x.png 1x,
                    ../src/images/about/cow-desc@2x.png 2x">
                    <source media="(min-width:768px)" srcset="../src/images/about/cow-tab@1x.png 1x,
                    ../src/images/about/cow-tab@2x.png 2x">
                    <img src="../src/images/about/cow-desc@1x.png" alt="cow" class="about-image">                                           
                </picture>
            <div class="about-description">
                <div><p class="about-description-bold-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <div class="about-text">
                <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p><br/>
                <p>Aliquam erat volutpat. Aenean accumsan.</p>
                </div>
                <button type="button" class="button about-button" data-modal-open>
                    Read more
                    <svg class="about-button-icon" width="5px" height="8px">
                        <use href="../src/images/symbol-defs.svg#icon-button-about"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>