<section class="advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <p class="advantages-list-item-title advantage-picture-first">721</p>
        <p class="advantages-list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-list-item">
        <p class="advantages-list-item-title advantage-picture-second">16kg</p>
        <p class="advantages-list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-list-item">
        <p class="advantages-list-item-title advantage-picture-third">84</p>
        <p class="advantages-list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>