<section class="contacts">
    <div class="container">
        <div class="contacts-container">
            <ul class="contacts-list list">
                <li class="contacts-list-item">
                    <p class="contacts-title">CAFE</p>
                </li>
                <li class="contacts-list-item">
                    <p class="contacts-pretitle">Chicago</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contacts-list-item">
                    <p class="contacts-day">Monday - Friday</p>
                    <p class="contacts-time">06:00 AM - 10:00 PM</p>
                    <p class="contacts-day">Saturday - Sunday</p>
                    <p class="contacts-time">08:00 AM - 16:00 PM</p>
                </li>
                <li class="contacts-list-item">
                    <a href="" class="contacts-tel link">+61(0) 383 766 284</a>
                    <a href="" class="contacts-mail link">noreply@envato.com</a>
                </li>
            </ul>
        </div>
        <div class="contacts-container">
            <ul class="contacts-list list">
                <li class="contacts-list-item">
                    <span class="box-title"><p class="contacts-title">CAFE</p></span>
                </li>
                <li class="contacts-list-item">
                    <p class="contacts-pretitle">Chicago</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contacts-list-item">
                    <p class="contacts-day">Monday - Friday</p>
                    <p class="contacts-time">06:00 AM - 10:00 PM</p>
                    <p class="contacts-day">Saturday - Sunday</p>
                    <p class="contacts-time">08:00 AM - 16:00 PM</p>
                </li>
                <li class="contacts-list-item">
                    <a href="" class="contacts-tel link">+61(0) 383 766 284</a>
                    <a href="" class="contacts-mail link">noreply@envato.com</a>
                </li>
            </ul>
        </div>
        <div class="contacts-container">
            <ul class="contacts-list list">
                <li class="contacts-list-item">
                    <span class="box-title"><p class="contacts-title">CAFE</p></span>
                </li>
                <li class="contacts-list-item">
                    <p class="contacts-pretitle">Chicago</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contacts-list-item">
                    <p class="contacts-day">Monday - Friday</p>
                    <p class="contacts-time">06:00 AM - 10:00 PM</p>
                    <p class="contacts-day">Saturday - Sunday</p>
                    <p class="contacts-time">08:00 AM - 16:00 PM</p>
                </li>
                <li class="contacts-list-item">
                    <a href="" class="contacts-tel link">+61(0) 383 766 284</a>
                    <a href="" class="contacts-mail link">noreply@envato.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>