<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slider">
            <img
              class="reviews-photo"
              src="./images/reviews/reviews1x.png"
              alt="фото девушки"
              width="85"
              height="85"
            />
            <div class="slider__box">
              <div class="slider__text-wrapper">
                <p class="slider__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider">
            <img
              class="reviews-photo"
              src="./images/reviews/reviews1x.png"
              alt="фото девушки"
              width="85"
              height="85"
            />
            <div class="slider__box">
              <div class="slider__text-wrapper">
                <p class="slider__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider">
            <img
              class="reviews-photo"
              src="./images/reviews/reviews1x.png"
              alt="фото девушки"
              width="85"
              height="85"
            />
            <div class="slider__box">
              <div class="slider__text-wrapper">
                <p class="slider__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- 
    <div class="slider">
      <img
        class="reviews-photo"
        src="./images/reviews/reviews1x.png"
        alt="фото девушки"
        width="85"
        height="85"
      />
      <div class="slider__box">
        <p class="slider__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <div class="slider__inner">
          <div class="slider__gradient"></div>
        </div>
      </div>
    </div> -->
