<section class="reviews" id="aboutus">
  <div class="container reviews-container">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slider">
            <img
              class="reviews-photo"
              srcset="./images/reviews/reviews1-1x.png 1x, ./images/reviews/reviews1-2x.png 2x"
              src="./images/reviews/reviews1-1x.png"
              alt="фото девушки"
              width="85"
              height="85"
            />
            <div class="slider__box">
              <div class="slider__text-wrapper">
                <p class="slider__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <p class="slider__name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider">
            <img
              class="reviews-photo"
              srcset="./images/reviews/reviews2-1x.png 1x, ./images/reviews/reviews2-2x.png 2x"
              src="./images/reviews/reviews2-1x.png"
              alt="фото девушки"
              width="85"
              height="85"
            />
            <div class="slider__box">
              <div class="slider__text-wrapper">
                <p class="slider__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <p class="slider__name">Katty, New York</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider">
            <img
              class="reviews-photo"
              srcset="./images/reviews/reviews3-1x.png 1x, ./images/reviews/reviews3-2x.png 2x"
              src="./images/reviews/reviews3-1x.png"
              alt="фото девушки"
              width="85"
              height="85"
            />
            <div class="slider__box">
              <div class="slider__text-wrapper">
                <p class="slider__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <p class="slider__name">Amely, Florida</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
