<section class="gallery">
    <div class="gallery-container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
        <source media="(min-width:1280px)" srcset="../src/images/gallery/gallery-desc@1x.png 1x, ../src/images/gallery/gallery-desc@2x.png 2x">
        <source media="(min-width:768px)" srcset="../src/images/gallery/gallery-tab@1x.png 1x, ../src/images/gallery/gallery-tab@2x.png 2x">
        <source media="(min-width:320px)" srcset="../src/images/gallery/gallery-tel@1x.png 1x, ../src/images/gallery/gallery-tel@2x.png 2x">
        <img src="../src/images/gallery/gallery-desc@1x.png" alt="gallery">                                           
    </picture>
    </div>
</section>