<section class="gallery">
    <div class="gallery-container container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery-list list">
        <li class="gallery-item">
            <div class="gallery-item-image">
                <img src="./images/gallery/gal1.jpg" alt="gallery picture">
            </div>
        </li>
        <li class="gallery-item">
            <div class="gallery-item-image">
                <img src="./images/gallery/gal2.jpg" alt="gallery picture">
            </div>
            <div class="gallery-item-image">
                <img src="./images/gallery/gal3.jpg" alt="gallery picture">
            </div>
        </li>
        <li class="gallery-item gallery-item-double">
            <div class="gallery-item-image">
                <img src="./images/gallery/gal4.jpg" alt="gallery picture">
            </div>
            <div class="gallery-item-image gallery-item-image-small">
                <img src="./images/gallery/gal5.jpg" alt="gallery picture">
            </div>
        </li>
        <li class="gallery-item gallery-item-lower">
            <div class="gallery-item-image">
                <img src="./images/gallery/gal6.jpg" alt="gallery picture">
            </div>
            <div class="gallery-item-image">
                <img src="./images/gallery/gal7.jpg" alt="gallery picture">
            </div>
        </li>
        <li class="gallery-item gallery-item-higer">
            <div class="gallery-item-image">
                <img src="./images/gallery/gal8.jpg" alt="gallery picture">
            </div>
            <div class="gallery-item-image">
                <img src="./images/gallery/gal9.jpg" alt="gallery picture">
            </div>
        </li>
        <li class="gallery-item">
            <div class="gallery-item-image">
                <img src="./images/gallery/gal10.jpg" alt="gallery picture">
            </div>
        </li>
    </ul>
    </div>
</section>