<section class="product" id="products" >
    <div class="container">
        <p class="product-text">100% natural</p>
        <h2 class="product-title">products</h2>
        <ul class="product-list list">
            <li class="product-list__item ">
                <picture>
                   
                    <source media="(min-width:1280px)" srcset="./images/products/products01-desc@1x.png 1x,
                                                              ./images/products/products01-desc@2x.png 2x">
                    <source media="(min-width:768px)" srcset="./images/products/products01-tab@1x.png 1x,
                                                               ./images/products/products01-tab@2x.png 2x">
                    <source media="(min-width:320px)" srcset="./images/products/products01-tel@1x.png 1x,
                                                             ./images/products/products01-tel@2x.png 2x">
                    <img src="./images/products/products01-desc@1x.png" alt="ice cream" class="product-list__img">
                </picture>
                <h3 class="product-list__title">ice cream</h3>
                <span class="product-list__dots">...</span>
                <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <button class="product-list__btn" data-modal-open1>
                    <svg class="product-list__icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="product-list__item">
                <picture>
                    <source media="(min-width:1280px)"
                        srcset="./images/products/products02-desc@1x.png 1x,
                                                                          ./images/products/products02-desc@2x.png 2x">
                    <source media="(min-width:768px)"
                        srcset="./images/products/products02-tab@1x.png 1x,
                                                                           ./images/products/products02-tab@2x.png 2x">
                    <source media="(min-width:320px)"
                        srcset="./images/products/products02-tel@1x.png 1x,
                                                                             ./images/products/products02-tel@2x.png 2x">
                    <img src="./images/products/products02-desc@1x.png" alt="ice coffee" class="product-list__img">
                </picture>
                <h3 class="product-list__title">ice coffee</h3>
                <span class="product-list__dots">...</span>
                <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et</p>
                <button class="product-list__btn" data-modal-open2>
                    <svg class="product-list__icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="product-list__item">
                <picture>
                   
                    <source media="(min-width:1280px)"
                        srcset="./images/products/products03-desc@1x.png 1x,
                                                                          ./images/products/products03-desc@2x.png 2x">
                    <source media="(min-width:768px)"
                        srcset="./images/products/products03-tab@1x.png 1x,
                                                                           ./images/products/products03-tab@2x.png 2x">
                    <source media="(min-width:320px)"
                        srcset="./images/products/products03-tel@1x.png 1x,
                                                                          ./images/products/products03-tel@2x.png 2x">
                    <img src="./images/products/products03-desc@1x.png" alt="milkshakes" class="product-list__img">
                </picture>
                <h3 class="product-list__title">milkshakes</h3>
                <span class="product-list__dots">...</span>
                <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et</p>
                <button class="product-list__btn" data-modal-open3>
                    <svg class="product-list__icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
<div class="product-backdrop is-hidden" data-modal1>
    <div class="product-modal">
        <ul class="product-modal__list list">
            <li class="product-modal__item">
                <div class="product-modal__wrapper">
                    <p class="product-modal__text">
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat.
                    </p>
                </div>
              
           </li>
        <li class="product-modal__item">
            <p class="product-modal__text">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                placerat.
                Vestibulum euismod nisl suscipit ligula volutpat.  
            </p>
        </li>
        </ul>
        
        <button class="product-modal__button" data-modal-close1>
            <svg class="product-modal__icon" width="18px" height="18px">
                <use href="./images/symbol-defs.svg#icon-close-modal"></use>
            </svg>
        </button>
    </div>
</div>        