.about-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.about {
  padding-top: 125px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 130px;
  }
  padding-bottom: 0;
  background-color: #fff5f6;
  @media screen and (max-width: 767px) {
    background-image: url(/images/about/bg-milk-tel@1x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom 41px center;
    @media (min-resolution: 2dppx) {
      background-image: url(/images/about/bg-milk-tel@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/about/bg-milk-desc@1x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    @media (min-resolution: 2dppx) {
      background-image: url(/images/about/bg-milk-desc@2x.png);
    }
  }
}

.about-pre-title {
  color: #ffa5ba;
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.about-title {
  color: #d41443;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
    font-size: 58px;
  }
}

.about-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.about-picture {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 74px;
  }
}

.about-image {
  transition: transform 400ms cubic-bezier(0.5, 0, 0.3, 1);
  &:hover {
    transform: scale(1.03);
  }
  @media screen and (min-width: 768px) {
    max-width: none;
    width: 340px;
    height: 339px;
  }
  @media screen and (min-width: 1280px) {
    width: 516px;
    height: 516px;
  }
}

.about-description {
  @media screen and (max-width: 767.5px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 51px;
  }
}

.about-description-bold-text {
  margin-bottom: 31px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.about-text {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  color: #907e82;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.54;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    line-height: 1.93;
  }
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 22px;
  padding: 11px 37px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #d41443;
  transition: background-color 400ms cubic-bezier(0.5, 0, 0.3, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about-button-icon {
  margin-left: 14px;
  fill: #d41443;
}

// -----------------------modal-about

.about-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #ffffff, $alpha: 0.75);
  position: fixed;
  top: 0;
  z-index: 999;
  transition: visibility 600ms, opacity 600ms;
  &.is-hidden .modal {
    transition: transform 600ms;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.about-modal {
  width: 80vw;
  min-height: 80vh;
  @media screen and (min-width: 480px) {
    width: 400px;
  }
  @media screen and (min-width: 768px) {
    width: 650px;
  }
  background-color: #e17992;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 25px;
  transition: transform 500ms;
  transform: translate(-50%, -50%) scale(1);
}

.about-close-modal {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 0px;
  position: absolute;
  top: 25px;
  right: 40px;
  cursor: pointer;
  transition: transform 400ms cubic-bezier(0.5, 0, 0.3, 1);
  &:hover,
  &:focus {
    transform: translate(-25%, 0%) scale(1.5);
  }
}

.about-modal-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.about-modal-text {
  font-family: Titan One;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #ffe7e7;
  transition: background-color 400ms cubic-bezier(0.5, 0, 0.3, 1);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  & p:hover:after {
    background-color: #d41443;
    opacity: 50%;
  }
  & p {
    margin-bottom: 15px;
  }
  & p::after {
    content: '';
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: transparent;
    transition: background-color opacity 400ms cubic-bezier(0.5, 0, 0.3, 1);
  }
}

.about-close-modal-icon {
  fill: #fff5f6;
  transition: 400ms cubic-bezier(0.5, 0, 0.3, 1);
  &:hover,
  &:focus {
    fill: #d41443;
  }
}
