            .our-contacts {
                padding-bottom: 113px;
                background-image: linear-gradient(#FFFFFF 0% 5%, #FFF5F6 5% 100%);
            }
            
            .contacts:not(:last-child) {
                margin-bottom: 50px;
            }
            
            .contacts-main-title {
                text-align: center;
            }
            
            .contacts-list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .contacts-text-tel:hover,
            .contacts-list-text:hover {
                color: #D41342;
                transition-timing-function: 400ms cubic-bezier(0.5, 0, 0.3, 1);
            }
            
            .contacts-text-tel:focus,
            .contacts-list-text:focus {
                color: #D41342;
                transition-timing-function: 400ms cubic-bezier(0.5, 0, 0.3, 1);
            }
            
            .contacts-list-item {
                width: 220px;
                height: 100%;
                background: #FFFFFF;
                box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
                border-radius: 24px;
                padding-top: 43px;
                padding-bottom: 43px;
                padding-left: 20px;
                padding-right: 21px;
                cursor: pointer;
                transition: transform 400ms cubic-bezier(0.5, 0, 0.3, 1);
            }
            
            .contacts-list-item:hover,
            .contacts-list-item:focus {
                transform: scale(120%);
            }
            
            .contacts-list-item:not(:last-child) {
                margin-bottom: 20px;
            }
            
            .name {
                min-height: 145px;
            }
            
            .contacts-title {
                width: 80px;
                height: 16px;
                font-weight: 500;
                font-size: 12px;
                line-height: 1.83;
                letter-spacing: 0.04em;
                color: #FFFFFF;
                background-color: #F0D1A5;
                border-radius: 4px;
                text-align: center;
                margin-bottom: 25px;
            }
            
            .green {
                width: 130px;
                height: 16px;
                font-weight: 500;
                font-size: 12px;
                line-height: 1.83;
                letter-spacing: 0.04em;
                color: #FFFFFF;
                border-radius: 4px;
                text-align: center;
                margin-bottom: 25px;
                background-color: #C2E297;
            }
            
            .contacts-pretitle {
                font-weight: 500;
                font-size: 12px;
                line-height: 1.83;
                letter-spacing: 0.04em;
                margin-bottom: 10px;
            }
            
            .contacts-text {
                width: 188px;
                height: 36px;
                font-weight: 500;
                font-size: 12px;
                line-height: 1.5;
                color: #907E82;
            }
            
            .contacts-day {
                font-weight: 500;
                font-size: 12px;
                line-height: 1.83;
                color: #000000;
            }
            
            .contacts-time {
                font-weight: 500;
                font-size: 12px;
                line-height: 1.83;
                color: #FFA5BA;
            }
            
            .contacts-link {
                position: absolute;
                font-weight: 500;
                font-size: 12px;
                line-height: 1, 5;
                color: #907E82;
            }
            
            .contacts-text-tel::before {
                position: absolute;
                left: 1px;
                bottom: 45px;
                content: '';
                width: 179px;
                height: 0px;
                border: 1px solid #E1E1E1;
            }
            
            .contacts-text-tel {
                position: relative;
                font-weight: 500;
                font-size: 12px;
                line-height: 1.5;
                color: #907E82;
            }
            
            .contacts-time:not(:last-child) {
                margin-bottom: 10px;
            }
            
            .contacts-text {
                position: relative;
            }
            
            .contacts-list-text {
                font-weight: 500;
                font-size: 12px;
                line-height: 1.5;
                color: #907E82;
            }
            
            .contacts-text::after {
                content: '';
                position: absolute;
                top: 85px;
                left: 1px;
                width: 179px;
                height: 0px;
                border: 1px solid #E1E1E1;
            }
            
            .location-batton {
                margin-top: 54px;
                margin-left: 65px;
            }
            
            .location {
                text-align: center;
                width: 161px;
                height: 44px;
                background-color: #D41443;
                border-radius: 22px;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.31;
                color: #FFFFFF;
                border: none;
                position: relative;
                transition: transform 400ms cubic-bezier(0.5, 0, 0.3, 1);
                margin-right: 15px;
                margin-bottom: 10px;
            }
            
            .franchise {
                text-align: center;
                width: 161px;
                height: 44px;
                background-color: #FFFFFF;
                border-radius: 22px;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.31;
                color: #D41443;
                border: none;
                position: relative;
                transition: transform 400ms cubic-bezier(0.5, 0, 0.3, 1);
            }
            
            .location:hover,
            .location:focus {
                color: #FFFFFF;
                background-color: #e21c4d;
            }
            
            .franchise:hover,
            .franchise:focus {
                background-color: #ECEBEB;
                fill: #FFFFFF;
            }
            
            .location-batton-icon {
                width: 6px;
                height: 12px;
                fill: #D41443;
            }
            
            .franchise-batton-icon {
                width: 6px;
                height: 12px;
                position: absolute;
                top: 18px;
                right: 35px;
                z-index: 1;
            }
            
            .location-batton-icon {
                position: absolute;
                top: 18px;
                right: 25px;
            }
            
            @media screen and (min-width:768px) {
                .our-contacts {
                    background-image: linear-gradient(#FFFFFF 0% 10%, #FFF5F6 10% 100%);
                }
                .contacts-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .contacts-text::after {
                    width: 157px;
                }
                .contacts-text-tel::before {
                    width: 157px;
                }
                .contacts-list-item {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    padding-left: 31px;
                    padding-right: 32px;
                }
                .contacts-list-text {
                    font-size: 14px;
                    line-height: 1.85;
                }
                .contacts-list-item+.contacts-list-item {
                    margin-left: 20px;
                }
                .contacts-list-item {
                    margin-bottom: 20px;
                }
                .green {
                    width: 138px;
                    height: 28px;
                }
                .contacts-title:nth-child(odd) {
                    width: 73px;
                    height: 28px;
                }
                .contacts-text {
                    font-size: 14px;
                    line-height: 1.64;
                }
                .contacts-day,
                .contacts-time,
                .contacts-pretitle {
                    font-size: 14px;
                    line-height: 1.85;
                }
                .location-batton {
                    display: inline-flex;
                    margin-top: 81px;
                    justify-content: center;
                    margin-left: 168px;
                }
                .location {
                    width: 191px;
                }
                .franchise {
                    width: 174px;
                }
                .location-btn+.location-btn {
                    margin-left: 14px;
                }
            }
            
            @media screen and (min-width:1200px) {
                .our-contacts {
                    background-image: url(../images/contacts/contacts-bg-desctop.png), linear-gradient(#FFFFFF 0% 12%, #FFF5F6 12% 100%);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .contacts-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .contacts-text-tel::before {
                    width: 100%;
                    bottom: 50px;
                }
                .contacts-text::after {
                    width: 234px;
                    left: -10px;
                    top: 80px;
                    left: 1px;
                }
                .contacts-list-item {
                    padding-top: 51px;
                    padding-bottom: 62px;
                    padding-left: 43px;
                    padding-right: 44px;
                }
                .contacts-list-text {
                    font-size: 14px;
                    line-height: 1.85;
                }
                .contacts-list-item+.contacts-list-item {
                    margin-left: 20px;
                }
                .contacts-list-item {
                    margin-bottom: 20px;
                }
                .green {
                    width: 138px;
                    height: 28px;
                }
                .contacts-title:nth-child(odd) {
                    width: 73px;
                    height: 28px;
                }
                .contacts-text {
                    width: 260px;
                    height: 100%;
                    font-size: 16px;
                    line-height: 1.81;
                    letter-spacing: 0.04em;
                }
                .contacts-day,
                .contacts-time,
                .contacts-pretitle {
                    font-size: 16px;
                    line-height: 1.87;
                }
                .contacts-list-item {
                    width: 330px;
                    height: 100%;
                }
                .contacts-list-item+.contacts-list-item {
                    margin-left: 30px;
                }
                .contacts-text-tel,
                .contacts-list-text {
                    font-size: 16px;
                    line-height: 1.81;
                }
                .contacts-title {
                    display: block;
                    text-align: center;
                }
                .location {
                    width: 198px;
                }
                .franchise {
                    width: 180px;
                }
                .location-batton {
                    margin-left: 170px;
                }
            }
            
            @media screen and (min-width:1280px) {
                .our-contacts {
                    background-image: url(../images/contacts/contacts-bg-desctop.png), linear-gradient(#FFFFFF 0% 12%, #FFF5F6 12% 100%);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .contacts-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .contacts-text-tel::before {
                    width: 100%;
                    bottom: 50px;
                }
                .contacts-text::after {
                    width: 234px;
                    left: -10px;
                    top: 80px;
                    left: 1px;
                }
                .contacts-list-item {
                    padding-top: 51px;
                    padding-bottom: 62px;
                    padding-left: 43px;
                    padding-right: 44px;
                }
                .contacts-list-text {
                    font-size: 14px;
                    line-height: 1.85;
                }
                .contacts-list-item+.contacts-list-item {
                    margin-left: 20px;
                }
                .contacts-list-item {
                    margin-bottom: 20px;
                }
                .green {
                    width: 138px;
                    height: 28px;
                }
                .contacts-title:nth-child(odd) {
                    width: 73px;
                    height: 28px;
                }
                .contacts-text {
                    width: 260px;
                    height: 100%;
                    font-size: 16px;
                    line-height: 1.81;
                    letter-spacing: 0.04em;
                }
                .contacts-day,
                .contacts-time,
                .contacts-pretitle {
                    font-size: 16px;
                    line-height: 1.87;
                }
                .contacts-list-item {
                    width: 330px;
                    height: 100%;
                }
                .contacts-list-item+.contacts-list-item {
                    margin-left: 30px;
                }
                .contacts-text-tel,
                .contacts-list-text {
                    font-size: 16px;
                    line-height: 1.81;
                }
                .contacts-title {
                    display: block;
                    text-align: center;
                }
                .location {
                    width: 198px;
                }
                .franchise {
                    width: 180px;
                }
                .location-batton {
                    margin-left: 314px;
                }
            }