.reviews {
  padding-top: 80px;
  padding-bottom: 170px;
}

.slider {
  text-align: center;
}

.reviews-photo {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  border-radius: 50%;
}

.slider__box {
  position: relative;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
}

.reviews__text {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 71px 50px 20px;
}

.slider__gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    #e1e1e1 1.61%,
    #fafafa 0,
    #fafafa 50%,
    #e1e1e1 0,
    #e1e1e1 51.61%,
    #fafafa 0,
    #fafafa
  );
  background-size: 62px 60px;
}
