.footer {
  padding-top: 0;
  background-color: #fff5f6;
  @media screen and (min-width: 768px) {
    padding-top: 7px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 0;
  }
}

.footer-bottom {
  border-bottom: 1px solid #e1e1e1;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 97px;
  }
}

// .container {
//   @media screen and (min-width: 768px) {
//     padding: 0 35px;
//     max-width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

.footer__wrapper {
  max-width: 234px;
  margin-bottom: 43px;
  @media screen and (min-width: 768px) {
    max-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 474px;
  }
}

.footer__text {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;

  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.footer__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}

.footer-socials-list {
  display: flex;
  justify-content: flex-end;
  // max-width: 230px;
  // margin-left: auto;
  margin-bottom: 46px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.socials__item:not(:last-child) {
  margin-right: 28px;
}

.socials__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  background-position: center;
  transition: background-color 400ms cubic-bezier(0.5, 0, 0.3, 1);
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.socials__item:hover .socials__link,
.socials__item:focus .socials__link {
  background-color: #d41443;
}

.footer-cont {
  display: block;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #000;
  text-align: right;
  transition: color 400ms cubic-bezier(0.5, 0, 0.3, 1);
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

.footer-contact {
  padding-bottom: 43px;
}

.footer__tel {
  color: #d41443;
  transition: color 400ms cubic-bezier(0.5, 0, 0.3, 1);
}

.footer__tel:hover,
.footer__tel:focus {
  color: #ffa5ba;
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.copyright {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  text-align: center;
  color: #907e82;
  max-width: 150px;
  @media screen and (min-width: 768px) {
    min-width: 276px;
  }
}

// .footer {
//   padding-top: 82.5px;
//   background-color: #fff5f6;
//   display: block;
// }

// .footer__wrapper {
//   margin: 0 auto;
//   width: 100%;
//   text-align: right;
// }

// .footer__text {
//   max-width: 100%;
//   font-weight: bold;
//   font-size: 30px;
//   line-height: 1.13;
//   letter-spacing: 0.04em;
//   margin-bottom: 17px;
//   text-transform: uppercase;
//   text-align: left;
//   color: #ffa5ba;
//   padding: 0;
//   font-family: Titan One;
// }

// .footer__title {
//   max-width: 100%;
//   margin-bottom: 0;
//   text-align: left;
//   font-size: 58px;
//   line-height: 1.13;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: #d41443;
//   padding: 0;
//   font-family: Titan One;
// }

// .footer-socials-list {
//   display: flex;
//   justify-content: flex-end;
//   align-items: stretch;
//   flex-wrap: wrap;
//   margin-left: auto;
//   overflow: hidden;
//   text-align: right;
// }

// .footer__copyright {
//   padding: 10px 0;
//   letter-spacing: 0.02em;
// }

// .socials__link {
//   display: block;
//   display: flex;
//   content: '';
//   border-radius: 50%;
//   background-color: #fea5bb;
//   background-position: 50%;
// }

// .copyright-text {
//   font-family: DM Sans;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.5;
//   text-align: center;
//   color: #907e82;
// }

// .footer__contact {
//   font-size: 16px;
//   letter-spacing: 0.02em;
//   color: #000000;
//   font-family: DM Sans;
//   font-weight: 700;
//   line-height: 1.86;
//   text-align: right;
// }
