.product {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-bottom: 112 px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127 px;
    padding-bottom: 119 px;
  }
}

.product-text {
  margin-bottom: 15px;

  font-family: Titan One;
  font-size: 18px;
  line-height: calc(21 / 18);

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
}

.product-title {
  margin-bottom: 150px;

  font-family: Titan One, sans-serif;
  font-size: 48px;
  line-height: calc(55 / 48);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
  @media screen and (min-width: 1280px) {
    margin-bottom: 190px;
  }
}

.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1280px) {
    justify-content: center;
  }
}

.product-list__item {
  position: relative;
  margin-bottom: 150px;
  padding-bottom: 41px;
  padding-top: 170px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(211, 67, 156, 0.06),
    1px 4px 6px rgba(182, 17, 113, 0.16);

  &:nth-child(2) {
    background-color: #f0d1a5;
  }

  &:nth-child(3) {
    background-color: #c2e297;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    // max-width: 220px;
  }

  @media screen and (min-width: 1280px) {
    // width: 335px;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
      height: 525px;
    }
  }

  background: #ffb8ca;
  border-radius: 24px;
  text-align: center;
}

.product-list__title {
  font-family: Titan One, sans-serif;
  font-size: 20px;
  line-height: calc(23 / 20);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.product-list__img {
  @media screen and (max-width: 767px) {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    margin-bottom: 22px;
    margin-top: -300px;
    width: 250px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    margin-top: -270px;
    height: 230px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 38px;
    margin-top: -323px;
    height: auto;
  }
}

.product-list__dots {
  display: inline-block;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}

.product-list__text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1, 5;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.product-list__btn {
  margin-bottom: 41px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(1);
  transition: transform 400ms cubic-bezier(0.5, 0, 0.3, 1),
    background-color 400ms cubic-bezier(0.5, 0, 0.3, 1);
}

.product-list__btn:hover {
  background-color: #d41443;
  transform: scale(1.5);
}

.product-list__btn:hover .product-list__icon {
  fill: #ffffff;
}

.product-list__icon {
  width: 15px;
  height: 15px;
  fill: #d41443;
}
// ----------modal windiw-----------

.product-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 94px 15px;

  opacity: 1;
  overflow-y: scroll;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 400ms cubic-bezier(0.5, 0, 0.3, 1);
}

.product-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.product-modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;

  transform: scale(1);

  padding: 40px;

  background-image: linear-gradient(90deg, rgba(47, 48, 58, 9%), rgba(47, 48, 58, 9%)),
    url(/images/products/products03-desc@1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.09), rgba(47, 48, 58, 0.09)),
      url(/images/products/products03-desc@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.09), rgba(47, 48, 58, 0.09)),
      url(/images/products/products02-tab@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.09), rgba(47, 48, 58, 0.09)),
        url(/images/products/products02-tab@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.09), rgba(47, 48, 58, 0.09)),
      url(/images/products/products01-tel@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.09), rgba(47, 48, 58, 0.09)),
        url(/images/products/products01-tel@2x.png);
    }
  }

  transition: transform 400ms cubic-bezier(0.5, 0, 0.3, 1),
    opacity 400ms cubic-bezier(0.5, 0, 0.3, 1);

  @media screen and (min-width: 480px) {
    max-width: 450px;
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1280px) {
    max-width: 528px;
    width: 100%;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(1.1);
  opacity: 0;

  @media screen and (min-width: 480px) {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.product-modal__text {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;

  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  @media screen and (max-width: 767px) {
    color: #fff;
  }

  @media screen and (min-width: 1280px) {
    color: #fff;
  }
}

.product-modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #000000;
  cursor: pointer;

  transition: color 400ms cubic-bezier(0.5, 0, 0.3, 1);

  &:hover {
    color: #d41443;
  }
}

.product-modal__icon {
  fill: currentColor;

  transition: fill 400ms cubic-bezier(0.5, 0, 0.3, 1);

  .product-modal__button:hover & {
    fill: #ffa5ba;
  }
}
